# Obsidian
.obsidian
Templates/
templates/
reference-notes/
img/
Excalidraw/

# Quartz
node_modules/
.replit
replit.nix
tsconfig.tsbuildinfo
.gitignore
prof



# Build outputs
.quartz-cache/
public/
private/


# System files
.DS_Store
Thumbs.db


# IDE files
.vscode/